<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{template/baseManage.html}">
<div class="container-fluid" layout:fragment="main-content">
    <link rel="stylesheet" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <div class="row">
        <div th:replace = "~{template/sidebar :: sidebar}"></div>

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <div th:replace = "~{template/navbar :: navbar}"></div>

            <div class="main-content-container container-fluid">
                <div class="page-header text-center no-gutters py-4">
                    <h3 class="page-title font-weight-bold">Quản Lý Sản Phẩm</h3>
                </div>

                <div class="info-fr-1400 w-1200 mt-5" style="padding-bottom: 20px;">
                    <form id="search_form" name="f" th:action="@{/AM/AM003}" method="GET" th:object="${searchCondition}">
                        <div class="form-row">
                            <div class="form-group col-lg-3">
                                <div class="row">
                                    <label class="col-lg-5 col-form-label text-lg-right font-weight-bold">Tên Sản Phẩm</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" th:field="*{name}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <div class="row">
                                    <label class="col-lg-5 col-form-label text-lg-right font-weight-bold">Mã Sản Phẩm</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" th:field="*{code}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <div class="row">
                                    <label class="col-lg-5 col-form-label text-lg-right font-weight-bold">Mã Sản Phẩm Con</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" th:field="*{subCode}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="text-center mt-4">
                            <button type="submit" class="btn custom-btn-info mw-150 search">TÌM KIẾM</button>
                        </div>
                    </form>
                </div>

                <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
                    <div class="form-group">
                        <a class="btn custom-btn-info mw-150 search" th:href="@{/AM/AM003-01}" type="button" role="button" aria-pressed="true">Tạo Mới</a>
                    </div>
                    
                    <div class="form-group">
                        <a class="btn custom-btn-info mw-150 search ml-2 mr-2" type="button" role="button" aria-pressed="true" onclick="syncProducts()">Đồng bộ Pancake</a>
                    </div>
                    
                    <div class="form-group">
                        <a class="btn custom-btn-info mw-150 search mr-2" type="button" role="button" aria-pressed="true" onclick="openSetting()">Cài đặt Shipping</a>
                    </div>
                    
                    <div class="form-group">
                        <a class="btn custom-btn-info mw-280 search" type="button" role="button" aria-pressed="true" onclick="openSettingDiscount()">Cài đặt Discount</a>
                    </div>

                    <div class="form-group" style="flex: 1 0 auto">
                        <div th:replace = "~{template/pagination :: top-pagination}"></div>
                    </div>
                </div>

                <div class="box-table">
                    <input type="hidden" th:id="status" name="status" th:value="${status}"/>
                    <input type="hidden" th:id="shipping-name" name="shipping-name" th:value="${shippingFee.name}"/>
                    <input type="hidden" th:id="shipping-fee" name="shipping-fee" th:value="${shippingFee.shippingFee}"/>
                    
                    <input type="hidden" th:id="discount-name" name="discount-name" th:value="${discountPrice.name}"/>
                    <input type="hidden" th:id="discount-percent" name="discount-percent" th:value="${discountPrice.discountPercent}"/>
                    <input type="hidden" th:id="discount-start" name="discount-start" th:value="${discountPrice.startDate}"/>
                    <input type="hidden" th:id="discount-end" name="discount-end" th:value="${discountPrice.endDate}"/>

                    <div class="card card-small mb-4">
                        <div class="card-body p-0 text-center">
                            <div class="table-responsive card-border">
                                <table class="table mb-0 table-bordered table-hover">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-1 font-weight-bold">Tên Sản Phẩm</th>
                                        <th scope="col" class="border-1 font-weight-bold">Loại Sản Phẩm</th>
                                        <th scope="col" class="border-1 font-weight-bold">Mã Sản Phẩm</th>
                                        <th scope="col" class="border-1 font-weight-bold">Mã Sản Phẩm Con</th>
                                        <th scope="col" class="border-1 font-weight-bold">Giá Gốc</th>
                                        <th scope="col" class="border-1 font-weight-bold">Giá Bán</th>
                                        <th scope="col" class="border-1 font-weight-bold">Số tiền Giảm</th>
                                        <th scope="col" class="border-1 font-weight-bold">Số Hàng Còn</th>
                                        <th scope="col" class="border-1 font-weight-bold">Hoạt Động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product, item : ${products}" th:if="${totalRecord > 0}">
                                        <td class="left-product-name" th:text="${product.name}"></td>
                                        <td class="centered">
                                            <span th:text="${product.categories}"></span>
                                        </td>
                                        <td class="centered" th:text="${product.code}"></td>
                                        <td class="centered" th:text="${product.subCode}"></td>
                                        <td class="centered" th:text="${product.price}"></td>
                                        <td class="centered" th:text="${product.finalPrice}"></td>
                                        <td class="centered" th:text="${product.discountPrice}"></td>
                                        <td class="centered" th:text="${product.stockQuantity}"></td>
                                        <td class="centered" >
                                            <a class="mr-4" style="color: #22928B" th:href="@{'/AM/AM003-02/' + ${product.id}}"><i class="fas fa-user-edit"></i></a>
                                            <a th:if="${!product.deleted}" th:onclick="'javascript:openDeleteOneProductModal(' + ${product.id} + ');'" style="color: red"><i class="fas fa-trash-alt"></i></a>
                                            <a th:if="${product.deleted}" th:onclick="'javascript:openRestoreOneProductModal(' + ${product.id} + ');'" style="color: #0826ff"><i class="fas fa-trash-restore-alt"></i></a>
                                        </td>

                                    </tr>
                                    <tr th:if="${totalRecord == 0}">
                                        <td colspan="14">
                                            <span>Không có Sản Phẩm Nào</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div th:replace = "~{template/pagination :: bottom-pagination}"></div>
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="sync-product-modal" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="col-12 modal-title text-center font-weight-bold">Xác Nhận</h6>
                </div>
                <div class="modal-body">
                    <div class="col-12 modal-title text-center mb-4">
                        Bạn có đồng bộ lại sản phẩm với pancake không?
                    </div>

                    <div class="modal-footer justify-content-center border-top-0">
                        <button class="btn custom-btn-light btn-120 mr-4" type="button" role="button"
                                aria-pressed="true" data-dismiss="modal">Không
                        </button>
                        <button class="btn custom-btn-info btn-120 mr-4" type="button" role="button"
                                aria-pressed="true" th:onclick="'javascript:syncProducts();'">Xóa
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sync-product-success" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-12 modal-title text-center mb-4"><i class="fas fa-check-circle"></i></div>
                    <div class="col-12 modal-title text-center mb-4">
                        Đồng bộ sản phẩm từ pancake về thành công.
                    </div>

                    <div class="modal-footer justify-content-center border-top-0">
                        <a class="btn custom-btn-info btn-120 mr-4" type="button" role="button" th:href="@{/AM/AM003}"
                           aria-pressed="true">OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-one-product-modal" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="col-12 modal-title text-center font-weight-bold">Xác Nhận</h6>
                </div>
                <div class="modal-body">
                    <div class="col-12 modal-title text-center mb-4">
                        Bạn có muốn xóa sản phẩm này không?
                    </div>
                    <input type="hidden" id="product-id">

                    <div class="modal-footer justify-content-center border-top-0">
                        <button class="btn custom-btn-light btn-120 mr-4" type="button" role="button"
                                aria-pressed="true" data-dismiss="modal">Không
                        </button>
                        <button class="btn custom-btn-info btn-120 mr-4" type="button" role="button"
                                aria-pressed="true" th:onclick="'javascript:deleteProduct();'">Xóa
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="restore-one-product-modal" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="col-12 modal-title text-center font-weight-bold">Xác Nhận</h6>
                </div>
                <div class="modal-body">
                    <div class="col-12 modal-title text-center mb-4">
                        Bạn có muốn hiển thị sản phẩm này không?
                    </div>
                    <input type="hidden" id="restore-product-id">

                    <div class="modal-footer justify-content-center border-top-0">
                        <button class="btn custom-btn-light btn-120 mr-4" type="button" role="button"
                                aria-pressed="true" data-dismiss="modal">Không
                        </button>
                        <button class="btn custom-btn-info btn-120 mr-4" type="button" role="button"
                                aria-pressed="true" th:onclick="'javascript:restoreProduct();'">Hiển thị
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-product-success" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div  class="col-12 modal-title text-center mb-4"><i id="custom-icon" class="fas fa-check-circle"></i></div>
                    <div class="col-12 modal-title text-center mb-4">
                        Đã Xóa Sản Phẩm khỏi Cửa Hàng
                    </div>

                    <div class="modal-footer justify-content-center border-top-0">
                        <a class="btn custom-btn-info btn-120 mr-4" type="button" role="button" th:href="@{/AM/AM003}"
                           aria-pressed="true">OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="restore-product-success" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div  class="col-12 modal-title text-center mb-4"><i id="custom-icon" class="fas fa-check-circle"></i></div>
                    <div class="col-12 modal-title text-center mb-4">
                        Đã Thêm Sản Phẩm vào Cửa Hàng
                    </div>

                    <div class="modal-footer justify-content-center border-top-0">
                        <a class="btn custom-btn-info btn-120 mr-4" type="button" role="button" th:href="@{/AM/AM003}"
                           aria-pressed="true">OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Popup 1: Modal Shipping -->
    <div class="modal fade" id="open-setting-shipping" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-550" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#E6F4F4; width: 570px;">
                    <h6 class="col-12 modal-title text-center font-weight-bold">Cài đặt giá shipping</h6>
                    <a class="text-lg-right">
                        <i class="far fa-times-circle" style="font-size: 24px" role="button" th:onclick="reload()"
                           aria-pressed="true" data-dismiss="modal"></i>
                    </a>
                </div>
                <div class="modal-body">
                    <table class="table mt-2">
                        <div class="title-tb mt-2">
                            <div class="row mt-4">
                                <label class="col-sm-4 text-lg-left font-weight-bold">Tên loại shipping</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="name" id="shippingName">
                                </div>
                            </div>
    
                            <div class="row mt-4">
                                <label class="col-sm-4 text-lg-left font-weight-bold">Giá</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" name="shippingFee" id="shippingFee" min="0" max="100000">
                                    <small id="error-message-shipping" class="form-text text-danger" style="display: none;">Giá phải nằm trong khoảng từ 0 đến 100,000.</small>
                                </div>
                            </div>
    
                        </div>
                    </table>
                </div>
                <div class="modal-footer justify-content-center border-top-0">
                    <button class="btn custom-btn-light btn-120 mr-4" type="button" role="button" th:onclick="reload()"
                            aria-pressed="true" data-dismiss="modal">Cancel
                    </button>
                    <button id="btn-ok-shipping" class="btn btn-primary" onclick="updateSetting()" disabled>OK</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Popup 2: Modal Discount -->
    <div class="modal fade" id="open-setting-discount" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-550" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#E6F4F4; width: 570px;">
                    <h6 class="col-12 modal-title text-center font-weight-bold">Cài đặt thời gian áp dụng Discount</h6>
                    <a class="text-lg-right">
                        <i class="far fa-times-circle" style="font-size: 24px" role="button" th:onclick="reload()"
                           aria-pressed="true" data-dismiss="modal"></i>
                    </a>
                </div>
                <div class="modal-body">
                    <table class="table mt-2">
                        <div class="title-tb mt-2">
                            <div class="row mt-4">
                                <label class="col-sm-4 text-lg-left font-weight-bold">Tên loại Discount</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="discountName" id="discountName">
                                </div>
                            </div>
    
<!--                            <div class="row mt-4">-->
<!--                                <label class="col-sm-4 text-lg-left font-weight-bold">Discount(0% ~ 99%)</label>-->
<!--                                <div class="col-sm-7">-->
<!--                                    <input type="number" class="form-control" name="discountPercent" id="discountPercent" min="0" max="99">-->
<!--                                    <small id="error-message-discount" class="form-text text-danger" style="display: none;">Giảm giá phải nằm trong khoảng từ 0% đến 99%.</small>-->
<!--                                </div>-->
<!--                            </div>-->
    
                            <!-- Các input ngày bắt đầu và ngày kết thúc -->
                            <div class="row mt-4">
                                <label class="col-sm-4 text-lg-left font-weight-bold">Ngày bắt đầu</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" name="startDate" id="startDate" onchange="validateDates()">
                                </div>
                            </div>
                            
                            <div class="row mt-4">
                                <label class="col-sm-4 text-lg-left font-weight-bold">Ngày kết thúc</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" name="endDate" id="endDate" onchange="validateDates()">
                                    <small id="error-message-date" class="form-text text-danger" style="display: none;">Ngày bắt đầu phải nhỏ hơn ngày kết thúc.</small>
                                </div>
                            </div>
    
                        </div>
                    </table>
                </div>
                <div class="modal-footer justify-content-center border-top-0">
                    <button class="btn custom-btn-light btn-120 mr-4" type="button" role="button" th:onclick="reload()"
                            aria-pressed="true" data-dismiss="modal">Cancel
                    </button>
                    <button id="btn-ok-discount" class="btn btn-primary" onclick="updateSettingDiscount()">OK</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="setting-discount-success" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div  class="col-12 modal-title text-center mb-4"></div>
                    <div class="col-12 modal-title text-center mb-4">
                        Cập nhập cài đặt thành công
                    </div>

                    <div class="modal-footer justify-content-center border-top-0">
                        <a class="btn custom-btn-info btn-120 mr-4" type="button" role="button" th:href="@{/AM/AM003}"
                           aria-pressed="true">OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="setting-success" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-450" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div  class="col-12 modal-title text-center mb-4"></div>
                    <div class="col-12 modal-title text-center mb-4">
                        Cập nhập lại cài đặt thành công!
                    </div>

                    <div class="modal-footer justify-content-center border-top-0">
                        <a class="btn custom-btn-info btn-120 mr-4" type="button" role="button" th:href="@{/AM/AM003}"
                           aria-pressed="true">OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/tempusdominus-bootstrap-4.js}"></script>
    <script th:src="@{/js/datetimepicker.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/validation.common.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/AM003/AM003.js}"></script>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</div>
</html>
