/***** -- main--pageHome -- *****/
.main--pageHome {
    .banner {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                @media (max-width: $viewport-sm) {
                    width: 100%;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.groupProducts {
    padding-top: 48px;
    .title {
        text-align: center;
        .title-tlt {
            font-weight: 400;
            font-size: 16px;
        }
        .title-nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            padding-top: 4px;
            li {
                a {
                    display: block;
                    padding: 8px;
                    color: #9e9e9e;
                    font-size: 13px;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}
.products-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2.5%;
        li {
            width: 25%;
            padding: 20px 0 20px 2.5%;
            @media (max-width: $viewport-md) {
                width: 50%;
            }
        }
    }
}
.more-view {
    text-align: center;
    padding-top: 20px;
    .btn {
        width: 100%;
        padding: 10px 0;
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        .btn-text {
            width: 100%;
        }
        .btn-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            height: 10px;
        }
        &:hover {
            .svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}
.products-inner {
    display: block;
    &:hover {
        .products-thumb {
            &::after {
                background: rgba(255,255,255,.1);
            }
        }
    }
    .products-thumb {
        position: relative;
        overflow: hidden;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            transition: all ease 0.3s;
        }
    }
    .products-content {
        padding-top: 16px;
        .products-title {
            font-size: 13px;
            padding-bottom: 4px;
        }
        .products-price-standard {
            color: #8a8a8a;
            font-size: 12px;
            text-decoration: line-through;
        }
        .products-price {
            span {
                font-size: 12px;
                display: inline-block;
                &.price-standard {
                    color: #8a8a8a;
                }
                &.products-sale {}
            }
        }
    }
    .products-color {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4px;
        span {
            display: block;
            width: 11px;
            height: 11px;
            border: 1px solid #ddd;
            margin: 4px 4px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}