<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
<head th:fragment="common-header">
  <meta charset="utf-8">
  <meta content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="facebook-domain-verification" content="q5yueppqdswewxevte5f68a70hz5zb" />
  <link rel="icon" href="/images/data/favicon.png" type="image/x-icon" />
  <title>De Basé</title>
  <!-- CSS -->
  <link href="/css/index/bootstrap.min.css" type="text/css" rel="stylesheet" media="all">
  <link href="/css/index/bootstrap-select.css" type="text/css" rel="stylesheet" media="all">
  <link href="/css/index/slick.css" type="text/css" rel="stylesheet" media="all">
  <link href="/css/index/styles.css" type="text/css" rel="stylesheet" media="all">
  <!-- JS -->
  <script type="text/javascript" src="/js/index/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/index/popper.min.js"></script>
  <script type="text/javascript" src="/js/index/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/index/bootstrap-select.js"></script>
  <script type="text/javascript" src="/js/index/slick.js"></script>
  <script type="text/javascript" src="/js/index/svg.js"></script>
  <script type="text/javascript" src="/js/index/common.js"></script>
  <script type="text/javascript" src="/js/index/home.js"></script>


  <!-- Meta Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '548664698223015');
    fbq('track', 'PageView');
  </script>
  <!-- End Meta Pixel Code -->
</head>

<body>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=548664698223015&ev=PageView&noscript=1"/>
  </noscript>

  <div class="bannerTop" th:fragment="navbar">
    <img src="/images/bannerPC.jpg">
  </div>

  <header class="header" th:fragment="header" th:attr="data-lang=${#locale.language}">
<!--    <div class="exampleSlider">-->
<!--      <div class="slider slider&#45;&#45;marquee">-->
<!--        <div class="sliderItem">-->
<!--          <a href="#">8만원 이상 구매시 무료배송으로 발송됩니다ෆ</a>-->
<!--        </div>-->
<!--        <div class="sliderItem">-->
<!--          <a href="#">유선CS는 운영되지 않습니다. 오른쪽 하단에 말풍선 모양의 채팅창을 이용해주세요:)</a>-->
<!--        </div>-->
<!--        <div class="sliderItem">-->
<!--          <a href="#">8만원 이상 구매시 무료배송으로 발송됩니다ෆ</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash;/exampleSlider&ndash;&gt;-->
    <div class="headerTop">
      <div class="wrap">
        <div class="header-wrap">
          <div class="info-area">
            <div class="logo">
              <h1 class="logo-area">
                <a th:href="@{/}" >
                  <img src="/images/LogoDeBase.png" type="image/">
                </a>
              </h1>
            </div>
            <div class="gNav">
              <ul>
                <li>
                  <a th:href="@{/products/group/SALE}" th:text="#{header.sale}">SALE</a>
                </li>
                <li>
                  <a th:href="@{/products/group/NEW IN}" th:text="#{header.newIn}">NEW IN</a>
                </li>
                <li>
                  <a th:href="@{/products/group/BEST SELLER}" th:text="#{header.bestSeller}">BEST SELLER</a>
                </li>
                <li>
                  <a href="#"><span th:text="#{header.shop}">SHOP</span><span class="icon-nav"><img class="svg" src="/images/common/icon-arrow-nav.svg" alt=""></span></a>
                  <div class="gNav-sub">
                    <ul>
                      <li><a th:href="@{/products/group/OUTWEAR}" th:text="#{header.outwear}">OUTWEAR</a></li>
                      <li><a th:href="@{/products/group/TOP}" th:text="#{header.top}">TOP</a></li>
                      <li><a th:href="@{/products/group/BOTTOM}" th:text="#{header.bottom}">BOTTOM</a></li>
                      <li><a th:href="@{/products/group/SHOES_BAG}" th:text="#{header.shoesBags}">SHOES / BAGS</a></li>
                      <li><a th:href="@{/products/group/ACC}" th:text="#{header.acc}">ACC</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="https://www.facebook.com/groups/macgicungduoc" target="_blank" th:text="#{header.community}">COMMUNITY</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="account-area">
            <ul>
              <li>
                <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span th:text="#{header.search}">Search</span><span class="icon-nav"><img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image"></span>
                </a>

                <form th:action="@{/products/search}" method="GET" novalidate>
                  <div class="dropdown-menu dropdown-menu-search">
                    <div class="search">
                      <input class="form-control" type="text" placeholder="Search" id="name" name="name">
                      <button type="submit" class="btn btn-search"><img class="svg" src="/images/common/icon-search.svg" alt=""></button>
                    </div>
                  </div>
                </form>

              </li>
              <li th:if="${isLogin == false or isLogin == null}">
                <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span th:text="#{header.account}">Account</span>
                  <span class="icon-nav">
                    <img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-account">
                  <ul>
                    <li>
                      <a th:href="@{/SA/SA001/login}" th:text="#{header.login}">Login</a>
                    </li>
                    <li>
                      <a th:href="@{/SA/SA001/register-view}" th:text="#{header.joinUs}">Join us</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li th:if="${isLogin}">
                <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span th:text="#{header.account}">Account</span>
                  <span class="icon-nav">
                    <img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-account">
                  <ul>
                    <li>
                      <a th:href="@{/SA/SA001/logout}" th:text="#{header.logout}">Logout</a>
                    </li>
                    <li>
                      <a th:href="@{/SA/SA001/profile}" th:text="#{header.profile}">Profile</a>
                    </li>
                    <li>
                      <a th:href="@{/order-history}" th:text="#{header.orderHistory}">Order History</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a th:href="@{/cart-detail}"><span id="bag-total" class="bag-text" th:text="#{header.myBag}">My bag:</span> <span th:text="${totalCartItems == null ? 0 : totalCartItems}"></span></a>
              </li>
              <li>
                <button type="button" id="btn-lang-toggle" class="btn-lang-toggle" title="Chuyển ngôn ngữ / Switch language" aria-label="Chuyển ngôn ngữ">
                  <span class="lang-flag lang-flag-us" data-lang="en" title="English">🇺🇸</span>
                  <span class="lang-sep">/</span>
                  <span class="lang-flag lang-flag-vn" data-lang="vi" title="Tiếng Việt">🇻🇳</span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="headerTop-sp">
          <div class="hamber">
            <button type="button" class="btn btn-menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="hamber-menu">
              <div class="item-toggle">
                <div class="item-btn">
                  <button class="btn btn--close-nav"><img class="svg" src="/images/common/icon-menu-close-arrow.svg" alt=""></button>
                </div>
              </div>
              <div class="hamber-content">
                <ul class="navigation">
                  <li>
                    <a th:href="@{/products/group/SALE}" th:text="#{header.sale}">SALE</a>
                  </li>
                  <li>
                    <a th:href="@{/products/group/NEW IN}" th:text="#{header.newIn}">NEW IN</a>
                  </li>
                  <li>
                    <a th:href="@{/products/group/BEST SELLER}" th:text="#{header.bestSeller}">BEST SELLER</a>
                  </li>
                  <li>
                    <a href="#"><span th:text="#{header.shop}">SHOP</span><span class="icon-nav"><img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image"></span></a>
                    <div class="navigation-sub">
                      <ul>
                        <li><a th:href="@{/products/group/OUTWEAR}" th:text="#{header.outwear}">OUTWEAR</a></li>
                        <li><a th:href="@{/products/group/TOP}" th:text="#{header.top}">TOP</a></li>
                        <li><a th:href="@{/products/group/BOTTOM}" th:text="#{header.bottom}">BOTTOM</a></li>
                        <li><a th:href="@{/products/group/SHOES_BAG}" th:text="#{header.shoesBags}">SHOES / BAGS</a></li>
                        <li><a th:href="@{/products/group/ACC}" th:text="#{header.acc}">ACC</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/groups/macgicungduoc" target="_blank" th:text="#{header.community}">COMMUNITY</a>
                  </li>
                </ul>
              </div>
              <div class="hamber-footer">
                <form th:action="@{/products/search}" method="GET" novalidate>
                  <div class="search">
                    <input class="form-control" type="text" placeholder="Search" id="search-mobile" name="name">
                    <button class="btn btn-search"><img class="svg" src="/images/common/icon-search.svg" alt=""></button>
                  </div>
                </form>
                <ul th:if="${isLogin}">
                  <li>
                    <a th:href="@{/SA/SA001/logout}" th:text="#{header.logout}">Logout</a>
                  </li>
                  <li>
                    <a th:href="@{/SA/SA001/profile}" th:text="#{header.profile}">Profile</a>
                  </li>
                  <li>
                    <a th:href="@{/order-history}" th:text="#{header.orderHistory}">Order History</a>
                  </li>
                  <li>
                    <a href="/" th:text="#{header.order}">Order</a>
                  </li>
                </ul>
                
                <ul th:if="${isLogin == false or isLogin == null}">
                  <li>
                    <a th:href="@{/SA/SA001/login}" th:text="#{header.login}">Login</a>
                  </li>
                  <li>
                    <a th:href="@{/SA/SA001/register-view}" th:text="#{header.joinUs}">Join us</a>
                  </li>
                  <li>
                    <a href="/" th:text="#{header.order}">Order</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="logo">
            <h1 class="logo-area">
              <a th:href="@{/}" >
                <img src="/images/LogoDeBase.png" type="image/">
              </a>
            </h1>
          </div>
          <button type="button" id="btn-lang-toggle-sp" class="btn-lang-toggle btn-lang-toggle-sp" title="Chuyển ngôn ngữ / Switch language" aria-label="Chuyển ngôn ngữ">
            <span class="lang-flag" data-lang="en">🇺🇸</span>
            <span class="lang-sep">/</span>
            <span class="lang-flag" data-lang="vi">🇻🇳</span>
          </button>
          <div class="cart">
            <a class="btn btn-cart" th:href="@{/cart-detail}">
              <img class="svg" src="/images/common/icon-cart.svg" alt="">
              <span id="bag-total-mobile" class="bag-number" th:text="${totalCartItems == null ? 0 : totalCartItems}"></span>
            </a>
          </div>
        </div>
      </div>
    </div><!--/headerTop-->
    <style>
      .account-area > ul {
        align-items: center;
        flex-wrap: nowrap;
        min-height: 70px;
        height: 70px;
      }
      .account-area > ul > li {
        display: flex;
        align-items: center;
        min-height: 70px;
        flex-shrink: 0;
      }
      .account-area > ul > li > a {
        white-space: nowrap;
        flex-shrink: 0;
      }
      .account-area > ul > li .btn-lang-toggle {
        flex-shrink: 0;
      }
      .header .header-wrap .account-area {
        min-width: 280px;
        width: 280px;
      }
      .header .header-wrap .info-area {
        width: calc(100% - 280px);
      }
      .btn-lang-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 6px 10px;
        margin: 0;
        height: 36px;
        min-height: 36px;
        line-height: 1;
        background: transparent;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1rem;
        transition: border-color 0.2s, background 0.2s;
        vertical-align: middle;
      }
      .btn-lang-toggle:hover {
        border-color: rgba(0,0,0,0.4);
        background: rgba(0,0,0,0.04);
      }
      .btn-lang-toggle .lang-flag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 1.25em;
        height: 1em;
        line-height: 1;
        font-size: 1em;
        cursor: pointer;
        opacity: 0.85;
        vertical-align: middle;
        box-sizing: content-box;
      }
      .btn-lang-toggle .lang-flag:hover,
      .btn-lang-toggle .lang-flag.active {
        opacity: 1;
      }
      .btn-lang-toggle .lang-sep {
        display: inline-flex;
        align-items: center;
        color: #999;
        font-size: 0.85em;
        user-select: none;
        padding: 0 2px;
      }
      .btn-lang-toggle-sp {
        padding: 8px 12px;
        margin-right: 8px;
      }
    </style>
    <script>
      (function() {
        function initLangToggle() {
          var STORAGE_KEY = 'debase_lang';
          var header = document.querySelector('.header[data-lang]');
          var serverLang = header ? header.getAttribute('data-lang') : null;
          var currentLang = serverLang || localStorage.getItem(STORAGE_KEY) || 'en';
          if (serverLang) { localStorage.setItem(STORAGE_KEY, serverLang); }
          function setActiveFlag(container) {
            if (!container) return;
            container.querySelectorAll('.lang-flag').forEach(function(el) {
              el.classList.toggle('active', el.getAttribute('data-lang') === currentLang);
            });
          }
          function applyLang(lang) {
            currentLang = lang;
            localStorage.setItem(STORAGE_KEY, lang);
            var url = new URL(window.location.href);
            url.searchParams.set('lang', lang);
            window.location.href = url.toString();
          }
          var btns = document.querySelectorAll('#btn-lang-toggle, #btn-lang-toggle-sp');
          if (!btns.length) return;
          btns.forEach(function(btn) {
            setActiveFlag(btn);
            btn.querySelectorAll('.lang-flag').forEach(function(flag) {
              flag.addEventListener('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var lang = flag.getAttribute('data-lang');
                if (lang && lang !== currentLang) applyLang(lang);
              });
            });
          });
        }
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', initLangToggle);
        } else {
          initLangToggle();
        }
      })();
    </script>
  </header><!--/header -->

  <div th:fragment="footer">
    <footer class="footer">
      <div class="wrap">
        <div class="footer-inner">
          <div class="inner">
            <div class="inner-left">
                <ul>
                  <li class="text-shadow-bold">CONTACT US</li>
                </ul>
                <ul>
                  <li>HỘ KINH DOANH NGUYỄN TRUNG HIẾU 01</li>
                </ul>
                <ul>
                  <li>Giấy phép Đăng ký kinh doanh số 8454557597-001 do Phòng Tài chính – Kế hoạch UBND huyện Mộc Châu cấp ngày 27/05/2024.</li>
                </ul>
                <ul>
                  <li>Địa chỉ: Số nhà 11, đường Phan Đình Giót, tiểu khu 1, phường Mộc Sơn, tỉnh Sơn La, Việt Nam</li>
                </ul>
                <ul>
                  <li>HOTLINE: +84 877 037 817</li>
                </ul>
                <ul>
                  <li>EMAIL:</li>
                  <li>debase.1995@gmail.com</li>
                </ul>
                <ul>
                  <li>Thứ 2 - Chủ Nhật</li>
                </ul>
                <ul>
                  <li>9:30AM - 11:59PM</li>
                </ul>
                <div class="inner-share" style="margin-top: 10px;">
                  <p class="title-share text-shadow-bold">FOLLOW US</p>
                  <ul>
                    <li>
                      <a href="https://www.instagram.com/debase.95" target="_blank"><img src="/images/data/instagram.png" alt=""></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/debase.95" target="_blank"><img src="/images/data/facebook.png" alt=""></a>
                    </li>
                    <li>
                      <a href="https://www.tiktok.com/@debase.95" target="_blank"><img src="/images/data/tictoc.svg" alt=""></a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          
          <div class="inner">
            <div class="inner-left">
                <ul>
                  <li class="text-shadow-bold">POLICY US</li>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách kiểm hàng</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách đổi trả</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách bảo hành&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Điều kiện giao dịch chung</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Chính sách vận chuyển</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy} + '#payment-policy'">Chính sách thanh toán</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách bảo mật</a>
                </ul>
              </div>
          </div>
          
          <div class="inner">
            <div class="footer-bct-badge-row">
              <a href="http://online.gov.vn/Home/WebDetails/141195?AspxAutoDetectCookieSupport=1"
                 target="_blank" rel="noopener noreferrer"
                 title="Đã thông báo Bộ Công Thương">
                <img src="/images/data/bct2.png" alt="Đã thông báo Bộ Công Thương — online.gov.vn">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer><!--/footer -->
  </div>

</body>
</html>
