<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
<head th:fragment="common-header">
  <meta charset="utf-8">
  <meta content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="facebook-domain-verification" content="q5yueppqdswewxevte5f68a70hz5zb" />
  <link rel="icon" href="/images/data/favicon.png" type="image/x-icon" />
  <title>De Basé</title>
  <!-- CSS -->
  <link href="/css/index/bootstrap.min.css" type="text/css" rel="stylesheet" media="all">
  <link href="/css/index/bootstrap-select.css" type="text/css" rel="stylesheet" media="all">
  <link href="/css/index/slick.css" type="text/css" rel="stylesheet" media="all">
  <link href="/css/index/styles.css" type="text/css" rel="stylesheet" media="all">
  <!-- JS -->
  <script type="text/javascript" src="/js/index/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/index/popper.min.js"></script>
  <script type="text/javascript" src="/js/index/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/index/bootstrap-select.js"></script>
  <script type="text/javascript" src="/js/index/slick.js"></script>
  <script type="text/javascript" src="/js/index/svg.js"></script>
  <script type="text/javascript" src="/js/index/common.js"></script>
  <script type="text/javascript" src="/js/index/home.js"></script>


  <!-- Meta Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '548664698223015');
    fbq('track', 'PageView');
  </script>
  <!-- End Meta Pixel Code -->
</head>

<body>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=548664698223015&ev=PageView&noscript=1"/>
  </noscript>

  <div class="bannerTop" th:fragment="navbar">
    <img src="/images/bannerPC.jpg">
  </div>

  <header class="header" th:fragment="header">
<!--    <div class="exampleSlider">-->
<!--      <div class="slider slider&#45;&#45;marquee">-->
<!--        <div class="sliderItem">-->
<!--          <a href="#">8만원 이상 구매시 무료배송으로 발송됩니다ෆ</a>-->
<!--        </div>-->
<!--        <div class="sliderItem">-->
<!--          <a href="#">유선CS는 운영되지 않습니다. 오른쪽 하단에 말풍선 모양의 채팅창을 이용해주세요:)</a>-->
<!--        </div>-->
<!--        <div class="sliderItem">-->
<!--          <a href="#">8만원 이상 구매시 무료배송으로 발송됩니다ෆ</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash;/exampleSlider&ndash;&gt;-->
    <div class="headerTop">
      <div class="wrap">
        <div class="header-wrap">
          <div class="info-area">
            <div class="logo">
              <h1 class="logo-area">
                <a th:href="@{/}" >
                  <img src="/images/LogoDeBase.png" type="image/">
                </a>
              </h1>
            </div>
            <div class="gNav">
              <ul>
                <li>
                  <a th:href="@{/products/group/SALE}">SALE</a>
                </li>
                <li>
                  <a th:href="@{/products/group/NEW IN}">NEW IN</a>
                </li>
                <li>
                  <a th:href="@{/products/group/BEST SELLER}">BEST SELLER</a>
                </li>
                <li>
                  <a href="#">SHOP<span class="icon-nav"><img class="svg" src="/images/common/icon-arrow-nav.svg" alt=""></span></a>
                  <div class="gNav-sub">
                    <ul>
                      <li><a th:href="@{/products/group/OUTWEAR}">OUTWEAR</a></li>
                      <li><a th:href="@{/products/group/TOP}">TOP</a></li>
                      <li><a th:href="@{/products/group/BOTTOM}">BOTTOM</a></li>
                      <li><a th:href="@{/products/group/SHOES_BAG}">SHOES / BAGS</a></li>
                      <li><a th:href="@{/products/group/ACC}">ACC</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="https://www.facebook.com/groups/macgicungduoc" target="_blank">COMMUNITY</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="account-area">
            <ul>
              <li>
                <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Search<span class="icon-nav"><img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image"></span>
                </a>

                <form th:action="@{/products/search}" method="GET" novalidate>
                  <div class="dropdown-menu dropdown-menu-search">
                    <div class="search">
                      <input class="form-control" type="text" placeholder="Search" id="name" name="name">
                      <button type="submit" class="btn btn-search"><img class="svg" src="/images/common/icon-search.svg" alt=""></button>
                    </div>
<!--                    <div class="keyword">-->
<!--                      <p class="keyword-label">Hot keyword#</p>-->
<!--                      <ul>-->
<!--                        <li>-->
<!--                          <a th:href="@{/products/group/OUTWEAR}">반팔티</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <a th:href="@{/products/group/OUTWEAR}">theore와이드</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <a th:href="@{/products/group/OUTWEAR}">데님루즈핏</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <a th:href="@{/products/group/OUTWEAR}">셔츠오프숄더</a>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
                  </div>
                </form>

              </li>
              <li th:if="${isLogin == false or isLogin == null}">
                <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                  <span class="icon-nav">
                    <img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-account">
                  <ul>
                    <li>
                      <a th:href="@{/SA/SA001/login}">Login</a>
                    </li>
                    <li>
                      <a th:href="@{/SA/SA001/register-view}">Join us</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li th:if="${isLogin}">
                <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                  <span class="icon-nav">
                    <img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-account">
                  <ul>
                    <li>
                      <a th:href="@{/SA/SA001/logout}">Logout</a>
                    </li>
                    <li>
                      <a th:href="@{/SA/SA001/profile}">Profile</a>
                    </li>
                    <li>
                      <a th:href="@{/order-history}">Order History</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a th:href="@{/cart-detail}"><span id="bag-total" class="bag-text">My bag:</span> <span th:text="${totalCartItems == null ? 0 : totalCartItems}"></span></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="headerTop-sp">
          <div class="hamber">
            <button type="button" class="btn btn-menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="hamber-menu">
              <div class="item-toggle">
                <div class="item-btn">
                  <button class="btn btn--close-nav"><img class="svg" src="/images/common/icon-menu-close-arrow.svg" alt=""></button>
                </div>
              </div>
              <div class="hamber-content">
                <ul class="navigation">
                  <li>
                    <a th:href="@{/products/group/SALE}">SALE</a>
                  </li>
                  <li>
                    <a th:href="@{/products/group/NEW IN}">NEW IN</a>
                  </li>
                  <li>
                    <a th:href="@{/products/group/BEST SELLER}">BEST SELLER</a>
                  </li>
                  <li>
                    <a href="#">SHOP<span class="icon-nav"><img class="svg" src="/images/common/icon-arrow-nav.svg" alt="image"></span></a>
                    <div class="navigation-sub">
                      <ul>
                        <li><a th:href="@{/products/group/OUTWEAR}">OUTWEAR</a></li>
                        <li><a th:href="@{/products/group/TOP}">TOP</a></li>
                        <li><a th:href="@{/products/group/BOTTOM}">BOTTOM</a></li>
                        <li><a th:href="@{/products/group/SHOES_BAG}">SHOES / BAGS</a></li>
                        <li><a th:href="@{/products/group/ACC}">ACC</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/groups/macgicungduoc" target="_blank">COMMUNITY</a>
                  </li>
                </ul>
              </div>
              <div class="hamber-footer">
                <form th:action="@{/products/search}" method="GET" novalidate>
                  <div class="search">
                    <input class="form-control" type="text" placeholder="Search" id="search-mobile" name="name">
                    <button class="btn btn-search"><img class="svg" src="/images/common/icon-search.svg" alt=""></button>
                  </div>
                </form>
                <ul th:if="${isLogin}">
                  <li>
                    <a th:href="@{/SA/SA001/logout}">Logout</a>
                  </li>
                  <li>
                    <a th:href="@{/SA/SA001/profile}">Profile</a>
                  </li>
                  <li>
                    <a th:href="@{/order-history}">Order History</a>
                  </li>
                  <li>
                    <a href="/">Order</a>
                  </li>
                </ul>
                
                <ul th:if="${isLogin == false or isLogin == null}">
                  <li>
                    <a th:href="@{/SA/SA001/login}">Login</a>
                  </li>
                  <li>
                    <a th:href="@{/SA/SA001/register-view}">Join us</a>
                  </li>
                  <li>
                    <a href="/">Order</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="logo">
            <h1 class="logo-area">
              <a th:href="@{/}" >
                <img src="/images/LogoDeBase.png" type="image/">
              </a>
            </h1>
          </div>
          <div class="cart">
            <a class="btn btn-cart" th:href="@{/cart-detail}">
              <img class="svg" src="/images/common/icon-cart.svg" alt="">
              <span id="bag-total-mobile" class="bag-number" th:text="${totalCartItems == null ? 0 : totalCartItems}"></span>
            </a>
          </div>
        </div>
      </div>
    </div><!--/headerTop-->
  </header><!--/header -->

  <div th:fragment="footer">
    <footer class="footer">
      <div class="wrap">
        <div class="footer-inner">
          <div class="inner">
            <div class="inner-left">
                <ul>
                  <li class="text-shadow-bold">CONTACT US</li>
                </ul>
                <ul>
                  <li>De Basé Công ty TNHH De Basé</li>
                </ul>
                <ul>
                  <li>MST: 0110043207</li>
                </ul>
                <ul>
                  <li>HOTLINE: +84 877 037 817</li>
                </ul>
                <ul>
                  <li>EMAIL:</li>
                  <li>debase.1995@gmail.com</li>
                </ul>
                <ul>
                  <li>Thứ 2 - Chủ Nhật</li>
                </ul>
                <ul>
                  <li>9:30AM - 11:59PM</li>
                </ul>
              </div>
          </div>
          
          <div class="inner">
            <div class="inner-left">
                <ul>
                  <li class="text-shadow-bold">POLICY US</li>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách bảo mật</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách giao hàng</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách đổi trả</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách kiểm hàng</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Xem chính sách bảo hành&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </ul>
                <ul>
                  <a th:href="@{/privacy-policy}">Phân định trách nhiệm của đơn vị vận chuyển</a>
                </ul>
              </div>
          </div>
          
          <div class="inner">
            <div class="inner-share">
              <p class="title-share text-shadow-bold">FOLLOW US</p>
              <ul>
                <li>
                  <a href="https://www.instagram.com/debase.95" target="_blank"><img src="/images/data/instagram.png" alt=""></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/debase.95" target="_blank"><img src="/images/data/facebook.png" alt=""></a>
                </li>
                <li>
                  <a href="https://www.tiktok.com/@debase.95" target="_blank"><img src="/images/data/tictoc.svg" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer><!--/footer -->
  </div>

</body>
</html>
