<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="pagination" th:if="${totalRecord > 0}" th:fragment="bottom-pagination">
    <ul>
        <li class="prev" th:classappend="${page==0} ? disabled : ''">
            <a th:href="@{${listUrl + conditionMaps}(page = ${page -1}, size = ${size}, sort = ${sort})}" aria-label="Trước">
                <img class="svg" src="/images/common/icon-arrow-pagination.svg" alt="">
            </a>
        </li>

        <span th:if="${page - 4 > 0 }" class="mx-1">...</span>

        <li th:each="pageNumber: ${pageNumbers}" th:if="${((page - 4) < pageNumber && pageNumber < (page + 6))}" th:classappend="${pageNumber==page + 1} ? active">
            <a th:unless="${pageNumber==page + 1}"
               th:href="@{${listUrl + conditionMaps}(page = ${pageNumber -1}, size = ${size}, sort = ${sort})}" th:text="${pageNumber}">
            </a>
            <a th:if="${pageNumber==page + 1}"
               th:text="${pageNumber}">
            </a>
        </li>

        <span th:if="${ (page + 1) < totalPages - 4}" class="mx-1">...</span>

        <li class="next" th:classappend="${page==(totalPages - 1)} ? disabled : ''">
            <a class="page-link" th:href="@{${listUrl + conditionMaps}(page = ${page + 1}, size = ${size}, sort = ${sort})}" aria-label="Sau">
                <img class="svg" src="/images/common/icon-arrow-pagination.svg" alt="">
            </a>
        </li>
    </ul>
</div>
</html>