<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{template/baseManage.html}">
<div class="container-fluid" layout:fragment="main-content">
  <link rel="stylesheet" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
  <link rel="Stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}" />
  <link rel="Stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />
  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>

  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <div class="row">
    <div th:replace = "~{template/sidebar :: sidebar}"></div>

    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
      <div th:replace = "~{template/navbar :: navbar}"></div>

      <div class="main-content-container container-fluid">
        <div class="page-header text-center no-gutters py-4">
          <h3 class="page-title font-weight-bold">Đơn Hàng</h3>
          <p class="text-muted small mb-0">Trạng thái / đơn vị vận chuyển Pancake cập nhật định kỳ (mỗi giờ).</p>
        </div>

        <div class="info-fr-1400 w-1200 mt-5">
          <form id="search_form" name="f" th:action="@{/AM/AM002}" method="GET" th:object="${searchCondition}" class="needs-validation" novalidate>
            <div class="form-row">
              <div class="form-group col-lg-3">
                <div class="row">
                  <label class="col-lg-5 col-form-label text-lg-right font-weight-bold">Mã Đơn Hàng</label>
                  <div class="col-lg-7">
                    <input type="text" class="form-control" th:field="*{code}"/>
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-3">
                <div class="row">
                  <label class="col-lg-5 col-form-label text-lg-right font-weight-bold">Trạng Thái</label>
                  <div class="col-lg-7">
                    <select class="selectpicker form-control" title="" data-style="select-with-transition btn-white" th:field="*{status}">
                      <option value="">Tất Cả</option>
                      <option value="PENDING">Chờ Thanh Toán</option>
                      <option value="COMPLETE">Thanh Toán Thành Công</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-3">
                <div class="row">
                  <label for="updatedFrom" class="col-lg-5 col-form-label text-lg-right font-weight-bold">Này Tạo Đơn</label>
                  <div class="col-lg-7">
                    <div id="updatedFrom" class="input-group input-group-seamless date datepicker-input-group"
                         data-target-input="nearest">
                      <input style="background: white" id="lastUpdateDateFrom" type="text" class="update-date-from form-control form-control-sm datepicker-input-group h-35" th:field="*{lastUpdateDateFrom}"
                             data-target="#updatedFrom" maxlength="10" size="10" readonly
                             name="updatedFrom" placeholder="YYYY-MM-DD" data-toggle="datetimepicker">
                      <span class="input-group-append" data-target="#updatedFrom" data-toggle="datetimepicker">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </span>
                    </div>

                    <div class="invalid-feedback fromDate-format-error"></div>

                  </div>
                </div>
              </div>
              <div class="form-group col-lg-3">
                <div class="row">
                  <label for="updatedTo" style="padding: 7px; padding-left: 20px;" class="col-form-label text-sm-center font-weight-bold">～</label>
                  <div class="col-lg-7">
                    <div id="updatedTo" class="input-group date datepicker-input-group input-group-seamless" data-target-input="nearest">
                      <input style="background: white" type="text" class="update-date-to form-control form-control-sm datepicker-input-group" th:field="*{lastUpdateDateTo}"
                             data-target="#updatedTo" maxlength="10" size="10" readonly
                             id="lastUpdateDateTo" name="updatedTo" placeholder="YYYY-MM-DD" data-toggle="datetimepicker">
                      <span class="input-group-append" data-target="#updatedTo" data-toggle="datetimepicker">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </span>
                    </div>

                    <div class="invalid-feedback date-error toDate-format-error"></div>

                  </div>
                </div>
              </div>
            </div>
            
            <div class="text-center mt-4">
              <button type="submit" class="btn custom-btn-info mw-150 search">TÌM KIẾM</button>
            </div>
          </form>
        </div>

        <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
          <div class="form-group" style="flex: 1 0 auto">
            <div th:replace = "~{template/pagination :: top-pagination}"></div>
          </div>
        </div>
        <div class="table-log">
          <div class="card card-small mb-4">
            <div class="card-body p-0 text-center">
              <div class="table-responsive card-border">
                <table class="table mb-0 table-bordered table-hover">
                  <thead class="bg-light">
                  <tr>
                    <th scope="col" class="border-1 font-weight-bold" style="border-left:none !important">Mã Đơn</th>
                    <th scope="col" class="border-1 font-weight-bold">Người Nhận Hàng</th>
                    <th scope="col" class="border-1 font-weight-bold">Ngày Đặt Hàng</th>
                    <th scope="col" class="border-1 font-weight-bold">Địa Chỉ Nhận Hàng</th>
                    <th scope="col" class="border-1 font-weight-bold">Trạng Thái</th>
                    <th scope="col" class="border-1 font-weight-bold">Phương Thức Thanh Toán</th>
                    <th scope="col" class="border-1 font-weight-bold">Đơn Vị Vận Chuyển</th>
                    <th scope="col" class="border-1 font-weight-bold">Mã Giảm Giá</th>
                    <th scope="col" class="border-1 font-weight-bold">Tổng Tiền</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order, item : ${orders}" th:if="${totalRecord > 0}">
                    <td style="border-left:none !important"><a
                            th:href="@{'/AM/AM002-01?code=' + ${order.code}}">
                      <span th:text="${order.code}"></span>
                    </a>
                    </td>
                    <td class="text-center" th:text="${order.fullName}"></td>
                    <td class="text-center" th:text="${#dates.format(order.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td class="text-center" th:text="${order.shippingAddress}"></td>
                    <td class="text-center" th:text="${order.statusDisplay}"></td>
                    <td class="text-center" th:text="${order.paymentMethod}"></td>
                    <td class="text-center" th:text="${order.shippingPartner}"></td>
                    <td class="text-center" th:text="${order.voucher}"></td>
                    <td class="text-center" th:text="${order.totalAmount}"></td>
                  </tr>
                  <tr th:if="${totalRecord == 0}">
                      <td colspan="14">
                          <span>Không có đơn hàng Nào</span>
                      </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div th:replace = "~{template/pagination :: bottom-pagination}"></div>
        </div>
      </div>
    </main>
  </div>

  <script th:src="@{/js/moment.min.js}"></script>
  <script th:src="@{/js/moment-with-locales.min.js}"></script>
  <script th:src="@{/js/tempusdominus-bootstrap-4.js}"></script>
  <script th:src="@{/js/datetimepicker.js}"></script>
  <script th:src="@{/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/validation.common.js}"></script>
  <script th:src="@{/js/validation.js}"></script>
  <script th:src="@{/js/common.js}"></script>

  <script>
        $(document).on('mouseup touchend', function (e) {
            var container = $('.bootstrap-datetimepicker-widget');
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.parent().datetimepicker('hide');
            }
        });

        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>
</html>
