table {
	width: 100%;
	tr {
		th,
		td {
			padding: 10px 10px;
			line-height: 20px;
			font-size: 16px;
			border: 1px solid #E3E5E8;
			vertical-align: middle;
		}
		th {
			color: #37393D;
		}
	}
}