<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="icon" th:href="@{/images/data/favicon.png}" type="image/x-icon" />
    <title sec:authorize="isAuthenticated() && hasAnyRole('ROLE_ADMIN', 'ROLE_STAFF')">Màn Hình Quản Lý</title>
    <title sec:authorize="isAuthenticated() && hasAnyRole('ROLE_USER')">De Basé</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" th:href="@{/css/shards-dashboards.1.1.0.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!-- CSS của Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    <!-- JS của Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

</head>
<body class="h-100">
    <div layout:fragment="main-content"></div>

    <script th:src="@{/js/font-icon.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/shards-dashboards.1.1.0.min.js}"></script>
    <script th:src="@{/js/jstz-1.0.4.min.js}"></script>

    <script type="text/javascript">
        function timeFunction() {
            var timezone = jstz.determine();
            var timezoneName = timezone.name();
            document.cookie="CalenderAppTimeZone=" + timezoneName + ";path=/";
        }
        timeFunction();
    </script>
</body>
</html>
