<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Main Navbar -->
    <div class="main-navbar sticky-top bg-white" th:fragment="navbar">
        <!-- Main Navbar -->
        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap justify-content-md-end justify-content-sm-between p-0">
            <ul class="navbar-nav flex-row">
                <li class="nav-item dropdown d-flex align-items-center">
                    <a sec:authorize="isAuthenticated() && hasAnyRole('ROLE_ADMIN', 'ROLE_STAFF', 'ROLE_USER')" class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle mr-2" th:src="@{/images/avatars/user.png}" alt="User Avatar" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-small">
                        <a sec:authorize="isAuthenticated() && hasAnyRole('ROLE_ADMIN', 'ROLE_STAFF')" class="dropdown-item" th:href="@{/AM/AM004-02}">Thông Tin Cá Nhân</a>
                        <div sec:authorize="isAuthenticated() && hasAnyRole('ROLE_ADMIN', 'ROLE_STAFF')" class="dropdown-divider"></div>
                        <a sec:authorize="isAuthenticated() && hasAnyRole('ROLE_ADMIN', 'ROLE_STAFF')" class="dropdown-item text-danger" th:href="@{/AM/AM001/logout}">Đăng Xuất</a>
                        <a sec:authorize="isAuthenticated() && hasAnyRole('ROLE_USER')" class="dropdown-item text-danger" th:href="@{/SA/SA001/logout}">Đăng Xuất</a>
                    </div>
                </li>
            </ul>
            <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-sm-inline d-md-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons">&#xE5D2;</i>
                </a>
            </nav>
        </nav>
    </div>
</html>